[submodule "Movie-Backend"]
	path = Movie-Backend
	url = https://github.com/AdrijaDastidar/Movie-Backend
[submodule "Mern-Movie"]
	path = Mern-Movie
	url = https://github.com/AdrijaDastidar/Mern-Movie
